.Page404{
    /* background: url('../assets/404.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh-14vh);
    margin-top: 14vh;
}

.Page404 img{
    width: 100%;
    height: 100%;
}