footer{
    background-color: black;
    padding: 0rem 3rem;
    width: 100%;
}

.footer_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 20px 10px;
}

footer .quick_link, .contact_us{
    padding: 20px 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .logo_section{
    padding: 20px 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer li{
    text-align: justify;
    font-size: 15px;
    padding: 5px 5px;
    color: white;
}

footer li:hover{
    color: var(--primary);
}

.logo_section img{
    width: 12rem;
    height: auto;    
}

.logo_section h5{
    text-align: start;
    height: 100%;
    width: 100%;
}

.quick_link h6, .contact_us h6{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.subscribe{
    display: flex;
    flex-direction: column;
}

.subscribe input{
    width: 100%;
    height: 100%;
    padding: 10px 5px;
    outline: none;

}

.social_link{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.fb, .twt, .linked ,.insta{
    font-size: 20px;
    cursor: pointer;
}

.fb:hover{
    color: #3b5998;
}
.twt:hover{
    color: #55acee;
}
.linked:hover{
    color: #007bb5;
}
.insta:hover{
    color: #e95950;
}

footer hr{
    border: 1px solid white;
    margin: 0px 20px;
}

.copyright{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 5px;
}

.copyright p{
    margin: 0;
    font-size: 15px;
}