.hero_section{
    background-color: #c6d6f2;
    display: grid;
    grid-template-columns: 3rem 2fr 2fr 3rem;
    width: 100%;
}

.hero_text_section{
    grid-column: 2/3;
    padding: 100px 0px 0px 50px;
}

.hero_text_1 h1{
    font-size: 50px;
    color: #35629d;
}

.hero_text_1 p{
    margin-left: 3rem;
    font-size: 20px;
}

.hero_text_2{
    margin-bottom: 1.5rem;
}

.hero_text_2 p{
    line-height: 1rem;
    font-size: 24px;
}

.exploreIcon{
    font-size: 18px;
}

.exploreBtn{
    outline: 1px solid var(--primary);
    margin-bottom: 1.5rem;
    padding: 10px 15px;
    transition: all 0.2s ease-in;
}

.exploreBtn:hover{
    color: var(--primary);
    background: none;
}

.left_right_Icons{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.leftIcon, .rightIcon{
    font-size: 35px;
}

.hero_image_section{
    grid-column: 3/4;
    padding: 100px 40px;
}

.hero_image_section img{
    width: 20rem;
    height: auto;
}

@media screen and (max-width: 1095px) {
    .hero_text_1 h1{
        font-size: 35px;
    }

    .hero_text_1 p{
        margin-left: 2rem;
        font-size: 19px;
    }

    .hero_text_2 p{
        font-size: 19px;
    }

    .hero_text_section{
        padding: 100px 0px 0px 30px;
    }
}

@media screen and (max-width: 885px) {
    .hero_section{
        grid-template-columns: 2rem 2fr 2fr 2rem;
    }

    .hero_text_1 h1{
        font-size: 30px;
    }

    .hero_text_2 p{
        font-size: 15px;
    }

    .hero_text_section{
        padding: 100px 0px 0px 15px;
    }

    .hero_image_section img{
        width: 16rem;
        height: auto;
    }
}

@media screen and (max-width: 697px) {
    .hero_section{
        grid-template-columns: 1rem 2fr 1rem;
    }

    .hero_image_section{
        position: absolute;
        right: 0;
        padding: 100px 0px 0px 0px;
        transition: all 0.1s ease-in-out;
    }

    .hero_text_1 h1{
        font-size: 25px;
    }

    .hero_text_2 p{
        font-size: 15px;
    }

    .hero_text_1 p{
        margin-left: 1rem;
        font-size: 15px;
    }

    .hero_text_section{
        padding: 100px 0px 15px 0px;
        z-index: 9;
        transition: all 0.1s ease-in-out;
    }
}

@media screen and (max-width: 450px) {
    .hero_image_section img{
        width: 14rem;
        height: auto;
    }

    .hero_text_section{
        padding: 130px 0px 15px 0px;
    }

    .hero_image_section{
        padding: 60px 0px 0px 0px;
    }

    .hero_text_1 p{
        margin-left: 1rem;
        font-weight: bold;
        font-size: 10px;
    }

    .hero_text_2 p{
        font-size: 10px;
        font-weight: bold;
        line-height: 0;
    }

    .exploreBtn{
        margin-bottom: 1rem;
        padding: 5px;
    }

    .hero_text_2{
        padding-top: 1rem;
        margin-bottom: 1rem;
    }
}
