.hero_text_section{
    padding-top: 80px;
    padding-bottom: 50px;
}

.hero_image_section img{
    height: 100%;
    width: 100%;
}

.hero_text_1 h1{
    font-weight: bold;
    font-size: 40px;
}

.btnlg{
    border: 2px solid var(--primary);
    padding: 12px 22px;
    border-radius: 7px;
    background-color: white;
    transition: all 100ms ease-in;
}

.btnlg:hover{
    background-color: var(--primary);
    color: white;
}

.btnsm{
    border: 2px solid var(--primary);
    padding: 8px 18px;
    border-radius: 7px;
    background-color: white;
    transition: all 100ms ease-in;
}

.btnsm:hover{
    background-color: var(--primary);
    color: white;
}

@media screen and (max-width : 999px) {
    .hero_text_1 h1{
        font-size: 30px;
    }
}