.myNavbar {
    /* padding: 0rem 3rem; */
    z-index: 9999999;
    background-color: white;
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px; */
}

.logo {
    width: 10rem;
    height: auto;
}

.toggleHandle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin: 0px;
    display: flex;
    align-items: center;
}

.menu .menuItems {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    font-weight: 600;
}

.menu .menuItems:hover {
    color: var(--primary);
}

.menu .active {
    border-bottom: 2px solid var(--primary);
    color: var(--primary);
}

.menu li {
    list-style: none;
}

.hamburger {
    z-index: 999;
    display: none;
    text-align: center;
    margin: auto 0;
    cursor: pointer;
    color: black;
    transition: color 0.2s ease-in;
}

#check {
    display: none;
}

@media screen and (max-width: 820px) {
    .myNavbar {
        padding: 0 1.5rem;
    }

    .menuBar {
        padding: 0;
    }

    .menu .menuItems {
        margin: 0 8px;
    }
}

@media screen and (max-width: 767px) {
    .hamburger {
        display: block;
    }

    .menu {
        display: block;
        padding-left: 0;
    }

    .menu .menuItems {
        color: black;
    }

    .menu .active {
        border-bottom: 2px solid var(--primary);
        color: var(--primary);
    }

    .menu .menuItems:hover {
        color: var(--primary);
    }

    .menuBar {
        display: block;
        position: fixed;
        top: 0;
        right: -50%;
        height: 100vh;
        width: 50vw;
        text-align: center;
        background: white;
        padding: 75px 0;
        transition: all 0.2s ease-out;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    #check:checked~.menuBar {
        right: 0;
    }

    #check:checked~.hamburger {
        color: var(--primary);
    }
}
