@import url(Util.css);

nav{
    z-index: 99;
}

.logo{
    width: 10rem;
    height: auto;
}

.myNavbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.myNavbar .menu{
    display: flex;
    align-items: center;
    margin: 0 50px;
}

.menu a{
    text-decoration: none;
    color: black;
    margin: 0 10px;
    font-weight: 600;
}

.menu a:hover{
    color: white;
}

.menu .active{
    border-bottom: 2px solid white;
    color: white;
}

.menu li{
    list-style: none;
}

.contact-us{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger{
    display: none;
    cursor: pointer;
}

#check{
    display: none;
}

@media screen and (max-width: 876px) {
    .myNavbar .menu{
        margin: 0 20px;
    }
}

@media screen and (max-width: 800px) {
    .myNavbar .menu{
        display: block;
        position: fixed;
        top: 0;
        /* left: 0; */
        right: -100%;
        background: grey;
        height: 100vh;
        width: 100%;
    }

    .hamburger{
        display: block;
    }
}