@import url(Util.css);

.myNavbar{
    padding: 0rem 3rem;
    z-index: 99;
}

.logo{
    width: 10rem;
    height: auto;
}

.toggleHandle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    margin: 0px;
    display: flex;
    align-items: center;
}

.menu a{
    text-decoration: none;
    color: black;
    margin: 0 10px;
    font-weight: 600;
}

.menu a:hover{
    color: white;
}

.menu .active{
    border-bottom: 2px solid white;
    color: white;
}

.menu li{
    list-style: none;
}

.hamburger{
    z-index: 999;
    display: none;
    text-align: center;
    margin: auto 0;
    cursor: pointer;
    color: white;
    transition: color 0.2s ease-in;
}

/* .hamburger #hamIcon::before{
    content: "";
    font-size: 80px;
    color: black;
} */

#check{
    display: none;
}

@media screen and (max-width: 820px) {
    .myNavbar{
        padding: 0 1.5rem;
    }

    .menuBar{
        padding: 0;
    }

    .menu a{
        margin: 0 8px;
    }
}

@media screen and (max-width: 767px) {
    .hamburger{
        display: block;
    }

    .menu{
        display: block;
        padding-left: 0;
    }

    .menu a{
        color: black;
    }
    
    .menu a:hover{
        color: #35629d;
    }

    .menu .active{
        border-bottom: 2px solid #35629d;
        color: #35629d;
    }

    .menuBar{
        display: block;
        position: fixed;
        top: 0;
        right: -50%;
        height: 100vh;
        width: 50vw;
        text-align: center;
        background: white;
        padding: 75px 0;
        transition: all 0.2s ease-out;
    }

    #check:checked ~ .menuBar{
        right: 0;
    }

    #check:checked ~ .hamburger{
        color: black;
    }

    /* #check:checked ~ .hamburger #hamIcon::before{
        content: "";
        font: 30px;
        transition: all 0.2s ease-in-out;
    } */

}