.process_section{
    width: 100%;
    height: 280px;
    border: 1px solid black;
    background: var(--primary);
}

.order_card{
    height: 100%;
    padding: 15px 0px;
}

.order_card span{
    /* border: 1px solid black; */
    border-radius: 50%;
    padding: 0px 15px;
    background-color: #d9d9d9;
}