.order_section{
    padding-top: 20px;
    padding-bottom: 20px;
}

.order_white{
    background: #dae2ec;
    color: black;
}

.order_blue{
    background: #526ffa;
    color: white;
}

.order_item{
    padding: 20px 10px;
    cursor: pointer;
}

.order_item .icon{
    text-align: center;
    font-size: 45px;
}